<header class="header">
  <div class="header__logo">
    <img src="assets/logo.png" alt="Shopping Logo" />
  </div>
  <div class="header__search">
    <input type="text" placeholder="Search products..." (keyup)="search($event)" [(ngModel)]="valueTosearch" (input)="searchProducts()">
    <button class="header__searchButton">Search</button>
  </div>
  <div class="header__nav">
    <div class="header__navItem">
      <span class="header__navItemText">Hello,{{userName| uppercase}}</span>
    </div>
    <div class="header__navItem header__navCart">
      <a href="#" class="header__navCartLink">
        <span class="header__navItemText">Logout</span>
      </a>
    </div>
  </div>
</header>
