
  <div class="container">
    <footer>
      <div class="footer-links">
        <a href="https://www.freepik.com/free-vector/hand-drawn-construction-background_1583772.htm#query=website%20under%20maintenance&position=0&from_view=keyword&track=ais">About Us</a>
        <a href="https://www.freepik.com/free-vector/hand-drawn-construction-background_1583772.htm#query=website%20under%20maintenance&position=0&from_view=keyword&track=ais">Contact Us</a>
        <a href="https://www.freepik.com/free-vector/hand-drawn-construction-background_1583772.htm#query=website%20under%20maintenance&position=0&from_view=keyword&track=ais">Privacy Policy</a>
        <a href="https://www.freepik.com/free-vector/hand-drawn-construction-background_1583772.htm#query=website%20under%20maintenance&position=0&from_view=keyword&track=ais">Terms of Service</a>
      </div>
      <div class="footer-logo">
        <img src="./.././../assets/logo.png" alt="Shopping Logo">
      </div>
    </footer>
  </div>
