<div class="bgimg">
  <div *ngIf="inValidCredentials">
    <h2>Invalid Email or MobileNumber</h2>
  </div>
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" required formControlName="email" />
        <div
          *ngIf="formDetails?.['email']?.invalid && (formDetails?.['email']?.dirty || formDetails?.['email']?.touched)"
        >
          <div *ngIf="formDetails?.['email']?.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="formDetails?.['email']?.errors?.['email']">
            Invalid email format.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Mobile:</label>
        <input type="text" required formControlName="mobile" />
        <div
          *ngIf="formDetails?.['mobile']?.invalid && (formDetails?.['mobile']?.dirty || formDetails?.['mobile']?.touched)"
        >
          <div *ngIf="formDetails?.['mobile']?.errors?.['required']">
            Mobile number required.
          </div>
          <div *ngIf="formDetails?.['mobile']?.errors?.['pattern']">
            Invalid mobile format.
          </div>
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
  <app-footer></app-footer>
</div>

